
@{
    Layout = null;
}

<!DOCTYPE html>
<div>Merhaba</div>

<br />

<h3>MVC Kam Tablo Örnegi</h3>
<table>
    <thead>
        <tr>

            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            

        </tr>



    </thead>

    <tbody>


        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim açıkalama</td>
        <td>true</td>
        

    </tbody>

</table>