
@{
    Layout = null;
}

<!DOCTYPE html>
<div>Merhaba</div>

<br />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Kam Tablo Örnegi</h3>
<table class="table table-hover">
    <thead>
        <tr>

            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Güncelle</th>

        </tr>



    </thead>

    <tbody>
        <tr>

            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim açıkalama</td>
            <td>true</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
        <tr>

            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim açıkalama</td>
            <td>true</td>
        </tr>
        <tr>

            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim açıkalama</td>
            <td>true</td>
        </tr>
        <tr>

            <td>1</td>
            <td>Eğitim</td>
            <td>Eğitim açıkalama</td>
            <td>true</td>
        </tr>

    </tbody>

</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>